.emoji-mart-preview{
  display:none
}
.textarea-emoji-control {
  display: none;
}
#textarea-emoji {
  top: -205px !important;
  left:-130px;
  z-index: 2000;
}
.emoji_completions {
  z-index: 1000;
}